---
- name: Demo playbook for using GitHub MCP Server to create a repository and a pull request
  hosts: github
  gather_facts: false

  tasks:
    - name: Retrieve user personal account
      when: github_organization is undefined
      block:
        - name: Get Github user details
          ansible.mcp.run_tool:
            name: get_me
          register: get_me_result

        - name: Set personal account as github_organization
          ansible.builtin.set_fact:
            github_owner: "{{ user_info.login }}"
          vars:
            user_info: "{{ get_me_result.content.0.text | from_json }}"

    - name: Create Github repository
      ansible.mcp.run_tool:
        name: create_repository
        args:
          organization: "{{ github_organization | default(omit) }}"
          name: "{{ github_repository_name }}"
          autoInit: true

    - name: Create repository branch
      ansible.mcp.run_tool:
        name: create_branch
        args:
          branch: "{{ github_branch_name }}"
          owner: "{{ github_organization | default(github_owner) }}"
          repo: "{{ github_repository_name }}"

    - name: Add new file to the branch
      ansible.mcp.run_tool:
        name: create_or_update_file
        args:
          branch: "{{ github_branch_name }}"
          content: "{{ file_content }}"
          message: 'File pushed using ansible.mcp collection'
          owner: "{{ github_organization | default(github_owner) }}"
          repo: "{{ github_repository_name }}"
          path: "{{ file_path }}"

    - name: Create pull request
      ansible.mcp.run_tool:
        name: create_pull_request
        args:
          owner: "{{ github_organization | default(github_owner) }}"
          repo: "{{ github_repository_name }}"
          base: main
          head: "{{ github_branch_name }}"
          title: "{{ pull_request_title }}"
          body: "{{ pull_request_body }}"
